/* COMMIT: Opretter grundstruktur for fiske vendespil */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* COMMIT: Tilføjer Cherry Bomb One font til hele siden */
body {
    margin: 0;
    min-height: 100vh;
    background: url('img/baggrund.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Cherry Bomb One', cursive;
}

/* COMMIT: Forbedrer styling af overskrift */
h1 {
    text-align: center;
    font-size: 50px;
    color: #EF6921;
/*COMMIT: Tilføjet skygge på tekst*/
    -webkit-text-stroke: 0.1rem #ffa51d;
    text-shadow: 1px #FFA51D;
    font-family: 'Cherry Bomb One';
}

/* COMMIT: Forbedrer layout for wrapper */
#wrapper {
    background-color: rgba(255, 230, 168, 0.85);
    border: 2px #000 solid;
    width: 700px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

/* COMMIT: Forbedrer layout for info-sektion */
span {
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
}

#pairsFound {
    margin-right: 30px;
}

/* COMMIT: Opretter grid til spil */
.grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* COMMIT: Opretter kort */
.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

/* COMMIT: Retter størrelse på kort */
.card,
.back,
.front {
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

/* COMMIT: Retter visning af kort */
.back,
.front {
    position: absolute;
    backface-visibility: hidden;
    border: 1.5px solid black;
}

/* COMMIT: Forside på kort */
.front {
    background: url('img/vendespil.png') no-repeat center center;
    background-size: cover;
}

/* COMMIT: Hover effekt */
.front:hover {
    border: 2px solid rgb(180, 0, 0);
}

/* COMMIT: Flip effekt */
.back {
    transform: rotateY(180deg);
}

/* COMMIT: Flip effekt */
.selected {
    transform: rotateY(180deg);
}

/* COMMIT: Match effekt */
.match .front {
    opacity: 0.0 !important;
}

/* COMMIT: Bagside styling */
.back {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

/* COMMIT: Tilføjer Kalle Krabbe */
.kallekrabbe {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 375px;
    animation: sideToSide 3s ease-in-out infinite;
    cursor: pointer;
    z-index: 1000;
}

/* COMMIT: Animation til Kalle Krabbe */
@keyframes sideToSide {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(30px); }
    100% { transform: translateX(0); }
}

/* COMMIT: Taleboble styling */
.kallekrabbe-boble {
    position: fixed;
    bottom: 255px;
    left: 60px;

    max-width: 350px;
    padding: 20px 35px;

/*COMMIT: Ændret farven af tekst*/
    background: linear-gradient(to bottom, #bfe9ff, #7fd3ff);
    color: #EF6921;
    border: 2px solid #4aa3d8;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
  
}

/* COMMIT: Taleboble pil */
.kallekrabbe-boble::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 30px;

    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #7fd3ff transparent transparent transparent;
}

/* COMMIT: Taleboble kant */
.kallekrabbe-boble::before {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 28px;

    border-width: 12px 12px 0 12px;
    border-style: solid;
    border-color: #4aa3d8 transparent transparent transparent;
}

